/* --- normalizacion ----- */
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
  
html{
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: Arial, Helvetica, Sans-serif;
}

a {
	text-decoration: none;
}

@media (max-width:900px) {
	.top-left-decoration{
		max-width: 45%;
	}
	.top-right-decoration{
		max-width: 45%;
	}
}

/* ------ variables ------ */
:root{
	/* colors */
	--colorPrimario : #674ea7;
	--colorSecundario:#874562;
	--colorTerciario:#e25c67;
	--colorTexto:white;
	
	/* spacings */
	--espacioLargo:4.0rem;
	--espacioBase:2.0rem;
	--espacioChico:1.5rem;
	--espacioContenedor: 80%;
  
	/* font fasmily */
	--fuentePrimaria : 'Dancing Script', cursive;
	--fuenteSecundaria:'roboto slab', serif;
	
	/* font sizes */
	--fuenteLargo:6.0em;
	--fuenteMedia:4.0em;
	--fuenteEspecial:3.0em;
	--fuenteBase:2.4em;
	--fuenteChica:1.6em;
  
  }
/*----- section presentacion---------*/
.sakura {
	pointer-events: none;
	position: absolute;
	background: #674ea7;
}

.presentacion{
	width: 100%;
	background-image: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url(../assets/img/foto1.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.top-right-decoration {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
}

.top-left-decoration {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	width: var(--espacioContenedor);
}

.title h1 {
	font-family: var(--fuentePrimaria);
	font-weight: bold;
	font-size: var(--fuenteLargo);
	margin: var(--espacioLargo) 0;
	color: var(--colorPrimario);
}

.title h2 {
	font-family: var(--fuentePrimaria);
	font-weight: bold;
	font-size: var(--fuenteBase);
	color: var(--colorSecundario);
}


.title h3 {
	font-weight: 300;
	text-transform: uppercase;
	font-size: var(--fuenteBase);
	color: var(--colorPrimario);
}

.title p {
	font-family: var(--fuentePrimaria);
	color: var(--colorSecundario);
	text-align: center;
	margin-top: var(--espacioLargo);
	font-weight: bolder;
	font-size: var(--fuenteEspecial);
}
/*------------- estilo del reloj -----------*/
#time {
	display: flex;
	justify-content: center;
	width: var(--espacioContenedor);
	max-width: 350px;
	border:1px solid #fbfbfb;
	border-radius: 20px;
	margin: var(--espacioLargo) 0;
}

.container {
	display: flex;
	flex-direction: row;
	justify-items: center;
	width: 100%;
	justify-content: space-around;
	padding: 5px var(--espacioChico);
}

.block {
 	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--colorSecundario);
}

.days {
	color:var(--colorPrimario);
	font-size: var(--fuenteMedia);
	font-family: var(--fuentePrimaria);
	font-weight: bold;
}

.dias{
	font-size: var(--fuenteBase);
	font-family: var(--fuentePrimaria);
	font-weight: bold;
}

.hours {
	color:var(--colorPrimario);
	font-size: var(--fuenteMedia);
	font-family: var(--fuentePrimaria);
	font-weight: bold;
}

.horas{
	margin: 0 10px;
	font-size: var(--fuenteBase);
	font-family: var(--fuentePrimaria);
	font-weight: bold;
}

.minutes {
	color:var(--colorPrimario);
	font-size: var(--fuenteMedia);
	font-family: var(--fuentePrimaria);
	font-weight: bold;
}

.minutos{
	margin: 0 10px;
	font-size: var(--fuenteBase);
	font-family: var(--fuentePrimaria);
	font-weight: bold;
}

.seconds {
	color:var(--colorPrimario);
	font-size: var(--fuenteMedia);
	font-family: var(--fuentePrimaria);
	font-weight: bold;
}

.segundos{
	margin: 0 10px;
	font-size: var(--fuenteBase);
	font-family: var(--fuentePrimaria);
	font-weight: bold;
}
/*---------- estilos de la section de iglesia -------------*/
.iglesia{
	width: 100%;
	background-image: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url(../assets/img/iglesia.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--espacioLargo) 0;
}

.iglesia__card{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid white;
	border-radius: 20px;
	padding: var(--espacioBase);
	color: var(--colorTexto);
	width: var(--espacioContenedor);
	max-width: 350px;
}

.iglesia__card p{
	font-size: var(--fuenteBase);
	padding: var(--espacioBase);
	text-align: center;
	line-height: var(--espacioLargo);
}

.date {
	color: var(--colorTerciario);
}

.venue {
	width: auto;
	height: auto;
	background-color: var(--colorPrimario);
	border-radius: 16px;
	text-align: center;
	color: #fff;
	padding:10px;
	font-size: var(--fuenteChica);
	margin: var(--espacioBase);
}

.venue a {
	text-decoration: none;
	color: #fff;
}
/*----------- Estilos de la section quinta -----------------*/
.quinta{
	width: 100%;
	background-image: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url(../assets/img/quinta.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--espacioLargo) 0;
}
/*----------- Estilos de la section colaboracion ------------------*/
.colaboracion{
	width: 100%;
	background-image: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url(../assets/img/colaboracion.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--espacioLargo) 0;
}

.copy-paste{
	display: flex;
	flex-direction: column;
  	align-items: center;
	width: 100%;
}

.copy-paste__container{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.copy-paste__container p{
	padding-top: 0;
}

.copy-paste__contenedor{
	display: flex;
  	align-items: center;
	width: 100%;
	max-width: 282px;
	margin-bottom: var(--espacioBase);
}

.copy-paste__input{
	display: inline-block;
	background:none;
	color: var(--colorTexto);
	outline: none;
	pointer-events: none;
	border: 1px solid white;
	border-right: 0;
	border-radius: 6px 0 0 6px;
	font-size: 20px;
	padding: 5px;
	box-shadow: none;
	width: 100%;
}

.copy-paste__input:focus{
	outline: none;
}

.copy-paste__input::-moz-selection{
	background-color: transparent;
}

.copy-paste__input::selection{
	background-color: transparent;
}

.copy-paste__icon{
	display: inline-block;
	background-color:darkgray;
	font-size: 25px;
	border-radius: 0 6px 6px 0;
	border: 1px solid white;
	border-left: 0;
	padding: 1px;
	cursor: pointer;
}

.mensaje-confirm-conteiner{
	display: none;
  	align-items: center;
	width: 100%;
	max-width: 282px;
	border: 1px solid white;
	border-radius: 6px;
	background-color: rgb(0, 149, 99);
	padding: 3px 0;
}

.mensaje-confirm{
	width: 100%;
	text-align: center;
	font-size: var(--fuenteChica);
	color: var(--colorTexto);
}

/*-------- estilos del footer --------*/
footer{
	background-color: darkgray;
	width: 100%;
	color: white;
	text-align: center;
}
.mensaje{
	/* background: rgba( 255, 255, 255, 0.4 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 6px );
	-webkit-backdrop-filter: blur( 6px );*/
	font-size: 1em;
} 

/* .music {
	display: none;
} */

/* @-webkit-keyframes fall {
	0% {
		opacity: 0.9;
		top: 0
	}
	100% {
		opacity: 0.2;
		top: 100%
	}
}

@keyframes fall {
	0% {
		opacity: 0.9;
		top: 0
	}
	100% {
		opacity: 0.2;
		top: 100%
	}
}

@-webkit-keyframes blow-soft-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -50%
	}
}

@keyframes blow-soft-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -50%
	}
}

@-webkit-keyframes blow-medium-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -100%
	}
}

@keyframes blow-medium-left {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: -100%
	}
}

@-webkit-keyframes blow-soft-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 50%
	}
}

@keyframes blow-soft-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 50%
	}
}

@-webkit-keyframes blow-medium-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 100%
	}
}

@keyframes blow-medium-right {
	0% {
		margin-left: 0
	}
	100% {
		margin-left: 100%
	}
}

@-webkit-keyframes sway-0 {
	0% {
		-webkit-transform: rotate(-5deg)
	}
	40% {
		-webkit-transform: rotate(28deg)
	}
	100% {
		-webkit-transform: rotate(3deg)
	}
}

@keyframes sway-0 {
	0% {
		-ms-transform: rotate(-5deg);
		transform: rotate(-5deg)
	}
	40% {
		-ms-transform: rotate(28deg);
		transform: rotate(28deg)
	}
	100% {
		-ms-transform: rotate(3deg);
		transform: rotate(3deg)
	}
}

@-webkit-keyframes sway-1 {
	0% {
		-webkit-transform: rotate(10deg)
	}
	40% {
		-webkit-transform: rotate(43deg)
	}
	100% {
		-webkit-transform: rotate(15deg)
	}
}

@keyframes sway-1 {
	0% {
		-ms-transform: rotate(10deg);
		transform: rotate(10deg)
	}
	40% {
		-ms-transform: rotate(43deg);
		transform: rotate(43deg)
	}
	100% {
		-ms-transform: rotate(15deg);
		transform: rotate(15deg)
	}
}

@-webkit-keyframes sway-2 {
	0% {
		-webkit-transform: rotate(15deg)
	}
	40% {
		-webkit-transform: rotate(56deg)
	}
	100% {
		-webkit-transform: rotate(22deg)
	}
}

@keyframes sway-2 {
	0% {
		-ms-transform: rotate(15deg);
		transform: rotate(15deg)
	}
	40% {
		-ms-transform: rotate(56deg);
		transform: rotate(56deg)
	}
	100% {
		-ms-transform: rotate(22deg);
		transform: rotate(22deg)
	}
}

@-webkit-keyframes sway-3 {
	0% {
		-webkit-transform: rotate(25deg)
	}
	40% {
		-webkit-transform: rotate(74deg)
	}
	100% {
		-webkit-transform: rotate(37deg)
	}
}

@keyframes sway-3 {
	0% {
		-ms-transform: rotate(25deg);
		transform: rotate(25deg)
	}
	40% {
		-ms-transform: rotate(74deg);
		transform: rotate(74deg)
	}
	100% {
		-ms-transform: rotate(37deg);
		transform: rotate(37deg)
	}
}

@-webkit-keyframes sway-4 {
	0% {
		-webkit-transform: rotate(40deg)
	}
	40% {
		-webkit-transform: rotate(68deg)
	}
	100% {
		-webkit-transform: rotate(25deg)
	}
}

@keyframes sway-4 {
	0% {
		-ms-transform: rotate(40deg);
		transform: rotate(40deg)
	}
	40% {
		-ms-transform: rotate(68deg);
		transform: rotate(68deg)
	}
	100% {
		-ms-transform: rotate(25deg);
		transform: rotate(25deg)
	}
}

@-webkit-keyframes sway-5 {
	0% {
		-webkit-transform: rotate(50deg)
	}
	40% {
		-webkit-transform: rotate(78deg)
	}
	100% {
		-webkit-transform: rotate(40deg)
	}
}

@keyframes sway-5 {
	0% {
		-ms-transform: rotate(50deg);
		transform: rotate(50deg)
	}
	40% {
		-ms-transform: rotate(78deg);
		transform: rotate(78deg)
	}
	100% {
		-ms-transform: rotate(40deg);
		transform: rotate(40deg)
	}
}

@-webkit-keyframes sway-6 {
	0% {
		-webkit-transform: rotate(65deg)
	}
	40% {
		-webkit-transform: rotate(92deg)
	}
	100% {
		-webkit-transform: rotate(58deg)
	}
}

@keyframes sway-6 {
	0% {
		-ms-transform: rotate(65deg);
		transform: rotate(65deg)
	}
	40% {
		-ms-transform: rotate(92deg);
		transform: rotate(92deg)
	}
	100% {
		-ms-transform: rotate(58deg);
		transform: rotate(58deg)
	}
}

@-webkit-keyframes sway-7 {
	0% {
		-webkit-transform: rotate(72deg)
	}
	40% {
		-webkit-transform: rotate(118deg)
	}
	100% {
		-webkit-transform: rotate(68deg)
	}
}

@keyframes sway-7 {
	0% {
		-ms-transform: rotate(72deg);
		transform: rotate(72deg)
	}
	40% {
		-ms-transform: rotate(118deg);
		transform: rotate(118deg)
	}
	100% {
		-ms-transform: rotate(68deg);
		transform: rotate(68deg)
	}
}

@-webkit-keyframes sway-8 {
	0% {
		-webkit-transform: rotate(94deg)
	}
	40% {
		-webkit-transform: rotate(136deg)
	}
	100% {
		-webkit-transform: rotate(82deg)
	}
}

@keyframes sway-8 {
	0% {
		-ms-transform: rotate(94deg);
		transform: rotate(94deg)
	}
	40% {
		-ms-transform: rotate(136deg);
		transform: rotate(136deg)
	}
	100% {
		-ms-transform: rotate(82deg);
		transform: rotate(82deg)
	}
} */