/* --- normalizacion ----- */
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
  
html{
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: Arial, Helvetica, Sans-serif;
}

a {
	text-decoration: none;
}

@media (max-width:1000px) {
	.top-left-decoration{
		max-width: 45%;
	}
	.top-right-decoration{
		max-width: 45%;
	}
}

/* ------ variables ------ */
:root{
	/* colors */
	--colorPrimario : #674ea7;
	--colorSecundario:#874562;
	--colorTexto:white;
	
	/* spacings */
	--espacioLargo:4.0rem;
	--espacioBase:2.0rem;
	--espacioChico:1.5rem;
	--espacioContenedor: 80%;
  
	/* font fasmily */
	--fuentePrimaria : 'Dancing Script', cursive;
	--fuenteSecundaria:'Roboto', sans-serif;
	
	/* font sizes */
	--fuenteLargo:6.0em;
	--fuenteMedia:4.0em;
	--fuenteEspecial:3.0em;
	--fuenteBase:2.4em;
	--fuenteChica:1.6em;
  
  }
/*----- section presentacion---------*/

.presentacion{
	width: 100%;
	background-image: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url(../assets/img/foto1.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.top-right-decoration {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
}

.top-left-decoration {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	width: var(--espacioContenedor);
}

.title h1 {
	font-family: var(--fuentePrimaria);
	font-weight: bold;
	font-size: var(--fuenteLargo);
	margin: var(--espacioLargo) 0;
	color: var(--colorPrimario);
}

.title h2 {
	font-family: var(--fuentePrimaria);
	font-weight: bold;
	font-size: var(--fuenteBase);
	color: var(--colorSecundario);
}


.title h3 {
	font-weight: 300;
	text-transform: uppercase;
	font-size: var(--fuenteBase);
	color: var(--colorPrimario);
}

.title p {
	font-family: var(--fuentePrimaria);
	color: var(--colorSecundario);
	text-align: center;
	margin-top: var(--espacioLargo);
	font-weight: bolder;
	font-size: var(--fuenteEspecial);
}
/*------------- estilo del reloj -----------*/
#time {
	display: flex;
	justify-content: center;
	width: var(--espacioContenedor);
	max-width: 350px;
	border:1px solid #fbfbfb;
	border-radius: 20px;
	margin: var(--espacioLargo) 0;
}

.container {
	display: flex;
	flex-direction: row;
	justify-items: center;
	width: 100%;
	justify-content: space-around;
	padding: 5px var(--espacioChico);
}

.block {
 	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--colorSecundario);
}

.days {
	color:var(--colorPrimario);
	font-size: var(--fuenteMedia);
	font-family: var(--fuentePrimaria);
	font-weight: bold;
}

.dias{
	font-size: var(--fuenteBase);
	font-family: var(--fuentePrimaria);
	font-weight: bold;
}

.hours {
	color:var(--colorPrimario);
	font-size: var(--fuenteMedia);
	font-family: var(--fuentePrimaria);
	font-weight: bold;
}

.horas{
	margin: 0 10px;
	font-size: var(--fuenteBase);
	font-family: var(--fuentePrimaria);
	font-weight: bold;
}

.minutes {
	color:var(--colorPrimario);
	font-size: var(--fuenteMedia);
	font-family: var(--fuentePrimaria);
	font-weight: bold;
}

.minutos{
	margin: 0 10px;
	font-size: var(--fuenteBase);
	font-family: var(--fuentePrimaria);
	font-weight: bold;
}

.seconds {
	color:var(--colorPrimario);
	font-size: var(--fuenteMedia);
	font-family: var(--fuentePrimaria);
	font-weight: bold;
}

.segundos{
	margin: 0 10px;
	font-size: var(--fuenteBase);
	font-family: var(--fuentePrimaria);
	font-weight: bold;
}
/*---------- estilos de la section de iglesia -------------*/
.iglesia{
	width: 100%;
	background-image: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url(../assets/img/iglesia.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--espacioLargo) 0;
}

.iglesia__card{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid white;
	border-radius: 20px;
	padding: var(--espacioBase);
	color: var(--colorTexto);
	width: var(--espacioContenedor);
	max-width: 350px;
}

.iglesia__card p{
	font-size: var(--fuenteBase);
	padding: var(--espacioBase);
	text-align: center;
	line-height: var(--espacioLargo);
	font-family: var(--fuenteSecundaria);
}

.date {
	color: var(--colorSecundario);
}

.venue {
	width: auto;
	height: auto;
	background-color: var(--colorPrimario);
	border-radius: 16px;
	text-align: center;
	color: #fff;
	padding:10px;
	font-size: var(--fuenteChica);
	margin: var(--espacioBase);
}

.venue a {
	text-decoration: none;
	color: #fff;
}
/*----------- Estilos de la section quinta -----------------*/
.quinta{
	width: 100%;
	background-image: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url(../assets/img/quinta.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--espacioLargo) 0;
}
/*----------- Estilos de la section colaboracion ------------------*/
.colaboracion{
	width: 100%;
	background-image: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url(../assets/img/colaboracion.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--espacioLargo) 0;
}

.copy-paste{
	display: flex;
	flex-direction: column;
  	align-items: center;
	width: 100%;
}

.copy-paste__container{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.copy-paste__container p{
	padding-top: 0;
}

.copy-paste__contenedor{
	display: flex;
  	align-items: center;
	width: 100%;
	max-width: 282px;
	margin-bottom: var(--espacioBase);
}

.copy-paste__input{
	display: inline-block;
	background:none;
	color: var(--colorTexto);
	outline: none;
	pointer-events: none;
	border: 1px solid white;
	border-right: 0;
	border-radius: 6px 0 0 6px;
	font-size: 20px;
	padding: 5px;
	box-shadow: none;
	width: 100%;
}

.copy-paste__input:focus{
	outline: none;
}

.copy-paste__input::-moz-selection{
	background-color: transparent;
}

.copy-paste__input::selection{
	background-color: transparent;
}

.copy-paste__icon{
	display: inline-block;
	background-color:darkgray;
	font-size: 25px;
	border-radius: 0 6px 6px 0;
	border: 1px solid white;
	border-left: 0;
	padding: 1px;
	cursor: pointer;
}

.mensaje-confirm-conteiner{
	display: none;
  	align-items: center;
	width: 100%;
	max-width: 282px;
	border: 1px solid white;
	border-radius: 6px;
	background-color: rgb(0, 149, 99);
	padding: 3px 0;
}

.mensaje-confirm{
	width: 100%;
	text-align: center;
	font-size: var(--fuenteChica);
	color: var(--colorTexto);
}
/*---------- estilos de la section de confirmacion ---------*/
.confirmacion{
	width: 100%;
	background-image: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url(../assets/img/invitacion.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--espacioLargo) 0;
}

.confirmacion__card{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid white;
	border-radius: 20px;
	padding: var(--espacioBase);
	color: var(--colorTexto);
	width: var(--espacioContenedor);
	max-width: 350px;
}

.confirmacion__card p{
	font-size: var(--fuenteBase);
	padding: var(--espacioBase);
	text-align: center;
	line-height: var(--espacioLargo);
}
/*--------- reproductor ----------*/
.playpause {
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	position: fixed;
	bottom: 16px;
	right:5px;
	display: block;
	background: var(--colorPrimario);
}
  
.playpause .button {
	width: 15px;
	height: 15px;
	background: #f0f0f0;
	transition: inherit;
	clip-path: polygon(0 0, 50% 25%, 50% 75%, 50% 75%, 50% 25%, 100% 50%, 100% 50%, 0 100%);
}
  
.playpause.playing .button {
	clip-path: polygon(0 0, 40% 0, 40% 100%, 60% 100%, 60% 0, 100% 0, 100% 100%, 0 100%);
}
/*-------- estilos del footer --------*/
footer{
	background-color: var(--colorPrimario);
	width: 100%;
	color: white;
	text-align: center;
}
.mensaje{
	font-family: var(--fuenteSecundaria);
	font-size: 1em;
}